In [ ]:
%%html
<style type='text/css'>
.CodeMirror{
font-size: 18px;
font-family: D2CODING;
}

div.output_area pre {
font-size: 15px;
font-family: D2CODING; 
}
</style>

In [ ]:
import pandas as pd
import numpy as np

## 1. 데이터 수집

In [ ]:
import pandas as pd

### 텍스트 파일

* csv : comma-separated values ( , )

In [ ]:
df = pd.read_csv('iris.csv')
df

* tsv : tab-separated values ( \t )

In [ ]:
df = pd.read_csv('iris.tsv', sep = '\t')
df

* txt : 단순 텍스트 파일 ( 구분자 문자 ; )

In [ ]:
df = pd.read_csv('iris.txt', sep = ';')
df

* fwf : fixed width file ( 동일한 간격으로 값이 있음 )

In [ ]:
df = pd.read_fwf('iris.fwf')
df

* json : "키-값 쌍"으로 이루어진 데이터 형태

In [ ]:
df = pd.read_json('iris.json')
df

### 엑셀 파일

In [ ]:
df = pd.read_excel('iris.xlsx')
df

## 2.데이터 가공

### 필터링

* 데이터 준비 - DATA_test_result.csv

In [ ]:
df = pd.read_csv('DATA_test_result.csv')
df.head()

In [ ]:
df.info()

* score_a가 200보다 큰 데이터

In [ ]:
df[df['score_a'] > 200]

* score_a가 200인 데이터

In [ ]:
df[df['score_a'] == 200]

* score_a가 200이 아닌 데이터

In [ ]:
df[df['score_a'] != 200]

* 필터링 결과를 별도로 저장

In [ ]:
df_sub = df[df['score_a'] == 200]
df_sub

In [ ]:
df.loc[df['score_a'] == 200,]

In [ ]:
df.loc[df['score_a'] == 200,['test_id', 'score_b']]

<p style="color:#fb0101;"><b>실습: df 객체에서 score_a 변수값이 score_a 변수 평균보다 작고 score_b 변수값이 score_b 평균보다 큰 데이터는 몇 개인가?</b></p>

In [ ]:
import pandas as pd

df = pd.read_csv('DATA_test_result.csv')

def solution():
    return sum((df['score_a']<df['score_a'].mean()) & 
               (df['score_b']>df['score_b'].mean()))
    
solution()

* isin( )

In [ ]:
df = pd.read_csv('DATA_test_result.csv')

In [ ]:
# 값이 500과 700 인지 판별
df.isin([500,700])

In [ ]:
#500과 700이 들어있는 자료만 검색
df.loc[df['score_b'].isin([500,700]),]

* str.contains( )

In [ ]:
df = pd.DataFrame(['Mouse', 'dog', 'house and parrot', '23', np.NaN],columns=['a'])
# 단어에 'ou'가 포함되어 있는 지 판별
df['a'].str.contains('ou')

In [ ]:
# 단어에 'ou'가 포함된 자료만 검색
df.loc[df['a'].str.contains('ou',na=False),]

* str.replace()

In [ ]:
df = pd.DataFrame(['Mouse', 'dog', 'house and parrot', '23', np.NaN],columns=['a'])
# 'ou'를 'OU'로 변경
df['a']=df['a'].str.replace('ou','OU')
df

* 데이터를 준비 - iris.csv : 아이리트(붓꽃) 데이터

In [ ]:
df = pd.read_csv('iris.csv')
df.head()

* 꽃받침 길이(Sepal.Length)가 7보다 크고, 꽃잎 너비(Petal.Width)가 2보다 작은 모든 필드의 데이터

In [ ]:
df.loc[(df['Sepal.Length']>7) & (df['Petal.Width']<2),]

* 꽃받침 길이(Sepal.Length)가 7.4 이거나, 꽃잎 너비(Petal.Width)가 0.2보다 작은 모든 필드의 데이터

In [ ]:
df.loc[(df['Sepal.Length'] == 7.4) | (df['Petal.Width'] < 0.2),]

In [ ]:
cond_1 = (df['Sepal.Length'] == 7.4)
cond_2 = (df['Petal.Width'] < 0.2)
df.loc[cond_1 | cond_2,]

* 꽃의 종류(Species)가 'setosa'인 데이터 중 상위 10개

In [ ]:
df.loc[df['Species'] == 'setosa',].head(10)

* 꽃의 종류(Species)가 'setosa'이거나 'versicolor'인 데이터

In [ ]:
df.loc[(df['Species'] == 'setosa') | (df['Species'] == 'versicolor'),]

In [ ]:
df.loc[df['Species'].isin(['setosa','versicolor']),]

* 꽃의 종류(Species)에 'vir' 문자열이 포함된 데이터

In [ ]:
df.loc[df['Species'].str.contains('vir'),]

<p style="color:#fb0101;"><b>실습: 'Month_Value_1.csv'파일을 불러와서 2022년 데이터를 제거하고 나머지 정보를 Pandas 데이터프레임 df_past 객체로 저장하시고. 그리고 df_past 객체의 행 개수를 구하시오.</b></p>

※ 'Month_Value_1.csv'파일을 사용하여 분석하시오.

※ Preiod 변수에 '2022'가 있으면 2022년 데이터로 판단한다.

※ Pandas의 .str accessor의 .contains() 메서드를 사용하시오.

※ Pandas 객체 필터링에서 '~'를 사용하면 논리값(True, False)을 반전시킬 수 있다.

In [ ]:
import pandas as pd

df = pd.read_csv('Month_Value_1.csv')

df_past = df.loc[~df['Period'].str.contains('2022'),]

def solution():
    return len(df_past)
    
solution()

<p style="color:#fb0101;"><b>실습: df 객체의 room 변수의 원소에 A가 있는 경우 'VIP', 그렇지 않은 경우 'Standard'로 지정한 새로운 변수 kind를 새로 만드시오. 이 때 kind 변수의 값이 'VIP'인 행 개수는 몇 개인가?</b></p>

※ 'join_room.csv' 파일을 사용하여 분석하시오.

※ Pandas의 .str accessor의 .contains() 메서드 사용가능

※ Pandas의 .str accessor의 .replace() 메서드를 사용가능

※ NumPy의 where() 함수 사용가능

※ 신규 변수를 생성한 이후 room 변수의 'A'는 '01'로, 'B'는 '02'로, 'C'는 '03'으로 바꾸시오.

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('join_room.csv')

df['room_num'] = np.where(df['room'].str.contains('A'),'VIP','Standard')
df['room'] = df['room'].str.replace('A','01')
df['room'] = df['room'].str.replace('B','02')
df['room'] = df['room'].str.replace('C','03')

def solution():
    return len(df[df['room_num'] == 'VIP'])

solution()

### 결측치 처리

* 데이터 준비(missing_sample.xlsx)

In [ ]:
df = pd.read_excel('missing_sample.xlsx')
df

In [ ]:
# 판다스에서 결측치 값 생성
[100, 200, pd.NA, 400]

* 결측치인지 확인하기

In [ ]:
df.isna()

* 결측치가 있는 데이터만 가져오기

In [ ]:
df.loc[df['Value'].isna(),]

* 결측치가 없는 데이터만 가져오기

In [ ]:
df.loc[df['Value'].notna(),]

* 데이터 준비(krx_missing.csv)

In [ ]:
df = pd.read_csv('krx_missing.csv')
df.head(10)

* 칼럼별 결측치의 개수 확인하기

In [ ]:
df.isna().sum()

In [ ]:
df.info()

<p style="color:#fb0101;"><b>실습: df 객체의 두 번째 변수의 결측치 개수는 몇 개인가?</b></p>

※ 'Month_Value_1.csv' 파일을 사용하여 분석하시오.

※ Pandas 객체의 메서드를 사용하여 결과를 도출하시오.

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('Month_Value_1.csv')
def solution():
    return df.iloc[:,1].isna().sum()
    
solution()

* 결측치 제거

In [ ]:
df = pd.read_csv('krx_missing.csv')

# 지수명에 결측가 없는 데이터만을 모아서 새로운 데이터 프레임 생성
df_notna = df.loc[df['지수명'].notna(),]
df_notna

In [ ]:
df_notna.reset_index(drop=True, inplace=True)
df_notna

<p style="color:#fb0101;"><b>실습: df 객체의 "대비"와 "등락률"의 결측치를 제거한 후 df_not_na객체에 저장하고 해당 객체의 row 개수를 구하시오 </b></p>

In [ ]:
import pandas as pd

df = pd.read_csv('krx_missing.csv')
df_not_na = df.loc[df['대비'].notna() & df['등락률'].notna(),]
def solution():
    return len(df_not_na)
    
solution()

* 결측치 대치(대체, 채우기, 변환)

In [ ]:
df = pd.read_csv('krx_missing.csv')

#결측치를 -9999로 채워 새로운 데이터프레임으로 생성
df_fillna = df.fillna(-9999)
df_fillna.head(10)

In [ ]:
# df.fillna( {'칼럼명':'채울값'} ) 종가를 종가 평균으로, 등락률을 -1로 채우기
df_fillna = df.fillna({'종가':df['종가'].mean(), 
                       '등락률': -1})
df_fillna

### 시간 데이터 처리

표준형식 : YYYY-mm-dd HH:MM:SS (2023-01-03 13:05:13)

* 시간데이터의 표현

In [ ]:
Date_s = "2023-01-03 13:05:03"
print(type(Date_s),Date_s)
print(Date_s[:4])
print(Date_s[5:7])
print(Date_s[8:10])

from datetime import datetime
Date_d = datetime(2023,1,3,13,5,3)
print(type(Date_d),Date_d)
print(Date_d.year)
print(Date_d.month)
print(Date_d.day)
print('요일',Date_d.weekday())
print(Date_d.hour, '시', Date_d.minute,'분',Date_d.second,'초')

from datetime import timedelta
print('tomorrow:',Date_d+timedelta(days=1))

* 데이터 준비(monthly_sales_report.csv)

In [ ]:
df = pd.read_csv('monthly_sales_report.csv')
df.head()

In [ ]:
df.info()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

In [ ]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.month
df['wday'] = df['Date'].dt.weekday
df.head()

* astype()

In [ ]:
df['Date'] = df['Date'].astype('str')
df.info()

<p style="color:#fb0101;"><b>실습: 다음과 같은 df 객체가 있을 때 두 번째 변수의 날짜에서 년도 정보를 뽑아 새로운 변수 "year"에 할당하고 가장 큰 년도를 구하시오.</b></p>

※ Pandas Series 객체의 .dt accessor의 어트리뷰트를 사용하시오.

※ Pandas Series 객체의 .str accessor의 메서드를 사용하시오.

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame({"v1":[1,2,3], "v2":["2022-01-02","2023-12-28","2024-06-13"]})
df['year'] = pd.to_datetime(df['v2']).dt.year
def solution():
    return df['year'].max()
    
solution()

### 자료 병합

* pd.concat( )

In [ ]:
df_1 = pd.DataFrame({'a':[1,2,3],
                     'b':[10,20,30]})
df_1

In [ ]:
df_2 = pd.DataFrame({'a':[1,2,3],
                     'b':[10,20,30],
                     'c':[100,200,300]}, index=[0,1,3])
df_2

In [ ]:
# df_1에 df_2 의 레코드를 행으로 추가하기
new_df = pd.concat([df_1, df_2])
new_df

In [ ]:
# df_1에 df_2을 열로 추가하기
pd.concat([df_1,df_2],axis=1)

In [ ]:
# 인덱스 리셋
df_2.reset_index(drop=True)

In [ ]:
# 인덱스 리셋해서 병합
pd.concat([df_1,df_2.reset_index(drop=True)],axis=1)

<p style="color:#fb0101;"><b>실습: '지수명' 변수의 값이 'KTOP 30', 'KRX 100', 'KRX 300'인 데이터를 각각 df_30, df_100, df_300 객체에 저장하고 3개 객체를 모두 이어붙인 데이터프레임 객체 df_concat을 생성하시오. 이 때 df_concat 객체의 행 개수는 몇 개인가? </b></p>

※ 'krx.csv' 파일을 사용하여 분석하시오.

※ Pandas의 concat( ) 함수를 사용하시오.

In [ ]:
import pandas as pd

df = pd.read_csv('krx.csv')

df_30 = df.loc[df['지수명'] == 'KTOP 30',]
df_100 = df.loc[df['지수명'] == 'KRX 100',]
df_300 = df.loc[df['지수명'] == 'KRX 300',]
df_concat = pd.concat([df_30, df_100, df_300])

def solution():
    return len(df_concat)
    
solution()

* pd.merge( )

In [ ]:
df_1 = pd.DataFrame({'a':[1,2,3],
                     'b':[10,20,30]})
df_1

In [ ]:
df_2 = pd.DataFrame({'a':[1,2,4],
                     'd':[100,200,400]})
df_2

In [ ]:
# df_1의 a 칼럼, df_2의 a 칼럼을 기준으로 inner 조인
df_1.merge(df_2,left_on='a',right_on='a')

In [ ]:
df_1.merge(df_2, on='a')

In [ ]:
# df_1의 a 칼럼, df_2의 a 칼럼을 기준으로 left 조인
df_1.merge(df_2,left_on='a',right_on='a',how='left')

In [ ]:
# df_1의 a 칼럼, df_2의 a 칼럼을 기준으로 right 조인
df_1.merge(df_2,left_on='a',right_on='a',how='right')

<p style="color:#fb0101;"><b>실습: A점수(score_a)와 B점수(score_b) 정보를 활용하여 두 점수의 평균((A점수+B점수)/2)를 계산하고 가장 높은 평균 점수를 구하시오.</b></p>

※ score_a_result.csv 파일과 score_b_result.csv 파일에 공통으로 기록된 test_id의 정보만 활용하시오.

※ 정수부분만 출력하시오.

In [ ]:
import pandas as pd

df_a = pd.read_csv("score_a_result.csv")
df_b = pd.read_csv("score_b_result.csv")

df_join = df_a.merge(df_b,on='test_id',how='inner')
df_join['mean'] = (df_join['score_a']+df_join['score_b'])/2

def solution():
    return int(df_join['mean'].max())

solution()

### 스케일 변환

* 정규화(normalization) - MinMax 정규화

In [ ]:
df = pd.DataFrame({'A':[8, 6, 7, 7, 2, 8, 9, 8, 0, 3],
                   'B':[14,  7,  2, 11, 10, 16,  6,  4,  9, 10]})
df

In [ ]:
# A와 B를 그냥 비교
df.loc[df['A'] < df['B'],]

In [ ]:
# A를 2배해서 비교
df.loc[df['A'] *2 < df['B'],]

In [ ]:
# MinMax 정규화 - 직접 계산
A_n = (df['A'] - df['A'].min()) / (df['A'].max() - df['A'].min())
B_n = (df['B'] - df['B'].min()) / (df['B'].max() - df['B'].min())
pd.concat([df,A_n,B_n],axis=1)

In [ ]:
# MinMaxScaler 사용
from sklearn.preprocessing import MinMaxScaler

df_n = MinMaxScaler().fit_transform(X=df) # X의 값으로 데이터프레임만 가능


df_n = pd.DataFrame(df_n,columns=['A_n','B_n'])
pd.concat([df,df_n],axis=1)

* 표준화(standardization)

In [ ]:
A_s = (df['A'] - df['A'].mean()) / (df['A'].std())
B_s = (df['B'] - df['B'].mean()) / (df['B'].std())
pd.concat([df,A_s,B_s],axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler

df_s = StandardScaler().fit_transform(X=df) # X의 값으로 데이터프레임만을 가능
df_s = pd.DataFrame(df_s, columns=['A_s','B_s'])
df_s = pd.concat([df,df_s],axis=1)
df_s

## 3. 데이터 품질 검정

### 중복 검사

In [ ]:
df = pd.read_csv('krx.csv')
df.head()

In [ ]:
# '지수명' 칼럼에서 개별로 구분되는 값들을 리턴
df['지수명'].unique()

In [ ]:
# 칼럼에서 개별로 구분되는 값들의 개수
df.nunique()

In [ ]:
#지수명' 칼럼에서 개별로 구분되는 값들 갯수
df['지수명'].nunique()

In [ ]:
# 중복 검사
len(df) == df['지수명'].nunique()

### 이변수 단순 조합

In [ ]:
df = pd.read_csv('DATA_test_result.csv')
df.head()

In [ ]:
# score_a 칼럼과 score_b 칼럼의 값을 더해서 score_sum 변수에 저장
df['score_sum'] = df['score_a'] + df['score_b']
df

In [ ]:
# 점수가 1000점 이상인 경우를 체크 : 1000점 이상이면 오류
(df['score_sum'] > 1000).sum()