In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1.데이터 탐색

### 기술 통계량

* 위치 통계량
    - 산술평균, 중앙값, 최빈값, 최솟값, 최댓값

In [3]:
df = pd.read_csv('data/elec_load_2017_7d.csv')
df

,YEAR,MONTH,DAY,X1HR,X2HR,X3HR,X4HR,X5HR,X6HR,X7HR,...,X15HR,X16HR,X17HR,X18HR,X19HR,X20HR,X21HR,X22HR,X23HR,X24HR
0,2017,1,1,60178,57862,56165,55135,54450,54401,54147,...,49213,49357,50362,53115,55205,55437,55348,55790,58195,59330
1,2017,1,2,57067,55148,53983,53571,54027,55388,57753,...,72228,71945,72641,73387,72294,69989,67893,66504,67435,69275
2,2017,1,3,66263,64233,63194,62461,62649,63396,65098,...,75576,75168,75791,75922,75469,73118,70769,68726,69593,71346
3,2017,1,4,68403,66143,65051,64245,64152,64678,66494,...,74977,74275,74909,75344,74504,71957,69715,68155,68948,70834
4,2017,1,5,68053,65801,64439,63437,63135,63250,63658,...,64767,63613,63095,63230,64253,63353,62455,62314,64350,66687
5,2017,1,6,64147,62010,60783,59779,59398,59296,58984,...,55408,55256,56000,58322,60456,60310,60173,60224,62288,63214
6,2017,1,7,60754,58974,57845,57387,57749,58794,60869,...,73064,72466,73274,73844,73287,71062,68628,66861,67697,69219

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    7 non-null      int64
 1   MONTH   7 non-null      int64
 2   DAY     7 non-null      int64
 3   X1HR    7 non-null      int64
 4   X2HR    7 non-null      int64
 5   X3HR    7 non-null      int64
 6   X4HR    7 non-null      int64
 7   X5HR    7 non-null      int64
 8   X6HR    7 non-null      int64
 9   X7HR    7 non-null      int64
 10  X8HR    7 non-null      int64
 11  X9HR    7 non-null      int64
 12  X10HR   7 non-null      int64
 13  X11HR   7 non-null      int64
 14  X12HR   7 non-null      int64
 15  X13HR   7 non-null      int64
 16  X14HR   7 non-null      int64
 17  X15HR   7 non-null      int64
 18  X16HR   7 non-null      int64
 19  X17HR   7 non-null      int64
 20  X18HR   7 non-null      int64
 21  X19HR   7 non-null      int64
 22  X20HR   7 non-null      int64
 23  X21HR   7 non-null      int64
 24  X22HR   7 non-null      int64
 25  X23HR   7 non-null      int64
 26  X24HR   7 non-null      int64
dtypes: int64(27)
memory usage: 1.6 KB

In [7]:
# X1HR 칼럼의 평균, 중앙값, 최솟값, 최댓값
df['X1HR'].mean()
df['X1HR'].min()
df['X1HR'].max()

68403

In [ ]:
#최빈값(mode)

* 변이 통계량
    - 분위수(quantile), 분산, 표준편차

In [ ]:
# 제 1 사분위수, 제 2 사분위수, 제 3 사분위수

In [ ]:
# 상자수염 그래프 그려보기

<p style="color:#fb0101;"><b>실습: df 객체의 X2HR 변수의 제 98 백분위수를 반올림하여 소수점 둘째 자리까지 구하시오 </b></p>

In [ ]:
import pandas as pd

df = pd.read_csv('./elec_load_2017_7d.csv')

def solution():
    return 1
    
solution()

In [ ]:
# 분산, 표준편차

In [ ]:
# 전체 통계량 조회 - describe()

<p style="color:#fb0101;"><b>실습: df 객체의 Period와 Sales_quantity의 결측치를 제거한 후 Period 변수의 값에서 년도만을 추출하여 새로운 변수 Year에 저장하고, Year별 Sales_quantity 변수의 평균을 구하시오. 평균 중 가장 큰 값을 구하시오. </b></p>

※ 'Month_Value_1.csv' 파일을 사용하여 분석하시오.

※ Pandas의 to_datetime( ) 함수를 사용하시오.

※ Pandas Series 객체의 .dt.accessor의 year 어트리뷰트를 사용하시오.

※ Pandas의 groupby() 메서드를 사용하시오.

※ 소수점 두 번째 자리까지 구하시오.

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('./Month_Value_1.csv')

def solution():
    return 1
    
solution()

* 모양 통계량
    - 왜도, 첨도

In [ ]:
df = pd.read_csv('./elec_load_2017_7d.csv')

print('왜도:',df['X1HR'].skew())
print('첨도:',df['X1HR'].kurt())

### 이상치

* 예)평균을 기준으로 1 표준편차보다 멀리 있는 값을 이상치로 처리

In [ ]:
# 왼쪽 기준값과 오른쪽 기준값을 구하기
right = df['X2HR'].mean() + df['X2HR'].std()
left = df['X2HR'].mean() - df['X2HR'].std()
print(left, right)

In [ ]:
#이상치 구하기
df[(df['X2HR'] < left) | (df['X2HR'] > right)]

In [ ]:
# 이상치를 제거한 데이터
df[~((df['X2HR'] < left) | (df['X2HR'] > right))]

In [ ]:
# 이상치를 제거한 데이터
df[(df['X2HR'] >= left) & (df['X2HR'] <= right)]